.qwe {
  color: pink;
}
#greycol {
  color: grey;
}
.qaz {
  color: red;
}
.css {
  color: green;
}
.yellow {
  color: yellow;
}
.tyty {
  background-color: blue;
  color: plum;
}
.rew {
  color: red;
  background-color: greenyellow;
}
.class {
  background-color: cornflowerblue;
  color: cyan;
}
.wsx {
  background-color: firebrick;
  color: darkviolet;
}
.kill {
  background-color: deeppink;
  color: forestgreen;
}
.krapochka {
  background-color: chartreuse;
  color: mistyrose;
}
.koma {
  background-color: aqua;
  color: maroon;
}
.Kauchen {
  background-color: lawngreen;
  color: orangered;
}
